.add-container {
    padding: 25px;
    min-height: 780px;
    background: #FFF;
    border: 1px solid #DCDFE6;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12), 0 0 6px 0 rgba(0, 0, 0, .04);
}

.submit-div {
    padding-top: 30px;
}